<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="clearfix">
       <%= f.label :name %>
       <div class="input">
         <%= f.text_field(:name, :size => 70) %>
	   </div>
  </div>

  <div class="clearfix">
        <%= f.label :description %>
        <div class="input">
        <%= f.text_area(:description, :class => "desc", :cols => 60, :rows => 4)%>
        </div>
  </div>

  <div class="clearfix">
	 <div class="input">
        <%= f.collection_select(:life_cycle_id, @lifecycles,:id,:name, {:prompt => "Select Lifecycle"}) %>
     </div>
  </div>

  <div class="clearfix">
        <%= f.label :start_date %>
        <div class="input">
        <%= f.text_field(:start_date, :size => 10, :value => 'yyyy-mm-dd', :onfocus => "value=\'\'")%>
        </div>
  </div>

  <div class="clearfix">
        <%= f.label :estimated_end_date %>
        <div class="input">
        <%= f.text_field(:estimated_end_date, :size => 10, :value => 'yyyy-mm-dd', :onfocus => "value=\'\'")%>
        </div>
  </div>

  <div class="clearfix">
        <%= f.label(:is_finished, "Finished") %>
     <div class="input">
        <%= f.check_box(:is_finished) %>
     </div>
  </div>

  <div id="people_in_a_collection">
          <h3>Assign People</h3>
         <%= render :partial => 'user_in_a_collection', :collection =>@project.users, :locals => { :collection_form => f , :member_label => "Enter Name"}   %>
       </div>

       <div class="formItem indented"><p><%= link_to "Add a team member", "#", :id => "add_person" %></p></div>


<%# content_for :javascript do %>
   <%# javascript_tag do %>
<script type="text/javascript">
	$(function() {
		$("#add_person").click(function() {
           $("#people_in_a_collection").append("<%= escape_javascript(render(:partial => 'user_in_a_collection', :object => User.new, :locals => { :member_label => "Enter Name"} )) %>");
        });

 	});
</script>
   <%# end %>
<%# end %>



  <div class="actions">
    <%= f.submit(:value => "Add Project", :class => "btn primary")%>
  </div>

<% end %>


