<h2>Create New User</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="clearfix"><%= f.label :username %>
    <div class="input">
  <%= f.text_field :username %></div></div>

  <div class="clearfix"><%= f.label :email %>
    <div class="input">
  <%= f.email_field :email %></div></div>

  <div class="clearfix"><%= f.label :password %>
    <div class="input">
  <%= f.password_field :password %></div> </div>

  <div class="clearfix"><%= f.label :password_confirmation %>
    <div class="input">
  <%= f.password_field :password_confirmation %></div>  </div>

  <div class="clearfix"><%= f.label :role %>
    <div class="input">
  <% @roles = ["manager", "developer", "banned"]%>
  <%= f.collection_select :role, @roles, :to_s, :humanize %>
      </div>
  </div>

  <div class="actions"><%= f.submit "Create User", :class => "btn primary" %></div>
<% end %>

<%= link_to 'Back', projects_path %>

